*.venv*
*pycache*
*DS_Store*
*node_modules*
scratch/
.adk/
.adk/session.db
*.egg-info
*scratchpad*
*scratchpad-*
.venv
.pytest_cache
__pycache__

*token.json
*.env
*duckdb
processed*
raw*
.ipynb_checkpoints/
.ipynb_checkpoints/
